---
title: 브라이트코브 플레이어 문서
parent: null 
---
<article class="bcls-article">
  <h1>브라이트코브 플레이어 문서</h1>
  <p>
    Brightcove Player 개발을 통해 플레이어를 사용자 지정, 통합 또는 기능을 추가 할 수 있습니다. 개발 도구는 Player API와 HTML5, CSS 및 JavaScript의 표준 웹 기술입니다.
  </p>
  <p>
    광범위한 목록을 확인하십시오. <a href="/code-samples/index.html">코드 샘플</a>플레이어 커스터마이징 가능성.
  </p>
  <p>Brightcove Player 버전 :</p>
  <p>
    현재의: <a href="/release-notes/brightcove-player-release-notes.html"> v6.57.1</a> </p>
  <p>
    출시 전: <a href="/release-notes/brightcove-player-prerelease-notes.html">없음</a> </p>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %} <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">
      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul class="bcls-topic-list">
          {% for doc in section.docs limit:4 %} <li><a href="{{ doc.url }}">{{ doc.name }}</a></li> {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">모두 보기...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>